ControlAccesos.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.example.org/ControlAccesos/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="ControlAccesos"
                  targetNamespace="http://www.example.org/ControlAccesos/">

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ControlAccesos/">
      <xsd:element name="registrar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="tns:RegistroAccesosType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registrarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="tns:FechasRegistroAccesosType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="out"
          		type="tns:InstanciaRegistroAccesosType"
          		maxOccurs="unbounded" minOccurs="0" />

          	<xsd:element name="mensaje" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RegistroAccesosType">
        <xsd:sequence>
        	<xsd:element name="nifnie" type="xsd:string" />
        	<xsd:element name="codigoSala" type="xsd:int" />
        	<xsd:element name="codigoDispositivo" type="xsd:int" />
        	<xsd:element name="WSKey" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="InstanciaRegistroAccesosType">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="idEmpleado" type="xsd:int"/>
          <xsd:element name="idSala" type="xsd:int"/>
          <xsd:element name="idDispositivo" type="xsd:int"/>
          <xsd:element name="fechaHora" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="FechasRegistroAccesosType">
        <xsd:sequence>
        	<xsd:element name="nifnie" type="xsd:string" />
        	<xsd:element name="codigoSala" type="xsd:int" />
        	<xsd:element name="codigoDispositivo" type="xsd:int" />
        	<xsd:element name="fechaDesde" type="xsd:dateTime" />
        	<xsd:element name="fechaHasta" type="xsd:dateTime" />
        	<xsd:element name="WSKey" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="registrarRequest">
    <wsdl:part element="tns:registrar" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="registrarResponse">
    <wsdl:part element="tns:registrarResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="consultarRequest">
    <wsdl:part name="parameters" element="tns:consultar"/>
  </wsdl:message>
  <wsdl:message name="consultarResponse">
    <wsdl:part name="parameters" element="tns:consultarResponse"/>
  </wsdl:message>

  <wsdl:portType name="ControlAccesos">
    <wsdl:operation name="registrar">
      <wsdl:input message="tns:registrarRequest"/>
      <wsdl:output message="tns:registrarResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultar">
      <wsdl:input message="tns:consultarRequest"/>
      <wsdl:output message="tns:consultarResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ControlAccesosSOAP" type="tns:ControlAccesos">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registrar">
      <soap:operation soapAction="http://www.example.org/ControlAccesos/registrar"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultar">
      <soap:operation soapAction="http://www.example.org/ControlAccesos/consultar"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ControlAccesos">
    <wsdl:port binding="tns:ControlAccesosSOAP" name="ControlAccesosSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
