Empleados.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Empleados/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Empleados" targetNamespace="http://www.example.org/Empleados/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Empleados/">
      <xsd:element name="nuevo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="tns:EmpleadosType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="nuevoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="borrar">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="nifnie" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="borrarResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="modificar">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="tns:EmpleadosType"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="modificarResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultar">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="nifnie" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="tns:EmpleadosType"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="EmpleadosType">
      	<xsd:sequence>
      		<xsd:element name="nifnie" type="xsd:string"></xsd:element>
      		<xsd:element name="nombreApellidos" type="xsd:string"></xsd:element>
      		<xsd:element name="email" type="xsd:string"></xsd:element>
      		<xsd:element name="naf" type="xsd:string"></xsd:element>
      		<xsd:element name="iban" type="xsd:string"></xsd:element>
      		<xsd:element name="idNivel" type="xsd:int"></xsd:element>
      		<xsd:element name="usuario" type="xsd:string"></xsd:element>
      		<xsd:element name="password" type="xsd:string"></xsd:element>
      		<xsd:element name="valido" type="xsd:int"></xsd:element>
      		<xsd:element name="id" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="nuevoRequest">
    <wsdl:part element="tns:nuevo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="nuevoResponse">
    <wsdl:part element="tns:nuevoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="borrarRequest">
  	<wsdl:part name="parameters" element="tns:borrar"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="borrarResponse">
  	<wsdl:part name="parameters" element="tns:borrarResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="modificarRequest">
  	<wsdl:part name="parameters" element="tns:modificar"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="modificarResponse">
  	<wsdl:part name="parameters" element="tns:modificarResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRequest">
  	<wsdl:part name="parameters" element="tns:consultar"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarResponse">
  	<wsdl:part name="parameters" element="tns:consultarResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Empleados">
    <wsdl:operation name="nuevo">
      <wsdl:input message="tns:nuevoRequest"/>
      <wsdl:output message="tns:nuevoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="borrar">
    	<wsdl:input message="tns:borrarRequest"></wsdl:input>
    	<wsdl:output message="tns:borrarResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificar">
    	<wsdl:input message="tns:modificarRequest"></wsdl:input>
    	<wsdl:output message="tns:modificarResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultar">
    	<wsdl:input message="tns:consultarRequest"></wsdl:input>
    	<wsdl:output message="tns:consultarResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmpleadosSOAP" type="tns:Empleados">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="nuevo">
  		<soap:operation
  			soapAction="http://www.example.org/Empleados/nuevo" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="borrar">
  		<soap:operation
  			soapAction="http://www.example.org/Empleados/borrar" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="modificar">
  		<soap:operation
  			soapAction="http://www.example.org/Empleados/modificar" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="consultar">
  		<soap:operation
  			soapAction="http://www.example.org/Empleados/consultar" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Empleados">
    <wsdl:port binding="tns:EmpleadosSOAP" name="EmpleadosSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
