WebContent/WEB-INF/services/Validaciones/META-INF/ControlAccesos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ControlAccesos" targetNamespace="http://www.example.org/ControlAccesos/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/ControlAccesos/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ControlAccesos/">
      <xsd:element name="registrar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="tns:RegistroAccesosType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registrarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="tns:FechasRegistroAccesosType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element maxOccurs="unbounded" minOccurs="0" name="out" type="tns:InstanciaRegistroAccesosType"/>

          	<xsd:element maxOccurs="1" minOccurs="0" name="mensaje" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RegistroAccesosType">
        <xsd:sequence>
        	<xsd:element name="nifnie" type="xsd:string"/>
        	<xsd:element name="codigoSala" type="xsd:int"/>
        	<xsd:element name="codigoDispositivo" type="xsd:int"/>
        	<xsd:element name="WSKey" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="InstanciaRegistroAccesosType">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="idEmpleado" type="xsd:int"/>
          <xsd:element name="idSala" type="xsd:int"/>
          <xsd:element name="idDispositivo" type="xsd:int"/>
          <xsd:element name="fechaHora" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="FechasRegistroAccesosType">
        <xsd:sequence>
        	<xsd:element name="nifnie" type="xsd:string"/>
        	<xsd:element name="codigoSala" type="xsd:int"/>
        	<xsd:element name="codigoDispositivo" type="xsd:int"/>
        	<xsd:element name="fechaDesde" type="xsd:dateTime"/>
        	<xsd:element name="fechaHasta" type="xsd:dateTime"/>
        	<xsd:element name="WSKey" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="registrarResponse">
    <wsdl:part name="parameters" element="tns:registrarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registrarRequest">
    <wsdl:part name="parameters" element="tns:registrar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRequest">
    <wsdl:part name="parameters" element="tns:consultar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarResponse">
    <wsdl:part name="parameters" element="tns:consultarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ControlAccesos">
    <wsdl:operation name="registrar">
      <wsdl:input message="tns:registrarRequest">
    </wsdl:input>
      <wsdl:output message="tns:registrarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultar">
      <wsdl:input message="tns:consultarRequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ControlAccesosSOAP" type="tns:ControlAccesos">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registrar">
      <soap:operation soapAction="http://www.example.org/ControlAccesos/registrar"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultar">
      <soap:operation soapAction="http://www.example.org/ControlAccesos/consultar"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControlAccesos">
    <wsdl:port name="ControlAccesosSOAP" binding="tns:ControlAccesosSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
